<ng-container *ngIf="isValid">

  <div class="title">
    <h1>{{recipe.name}}</h1>
    <div class="breadcrumb" fxLayout="row" fxLayoutAlign="end center">
      <span><a href="#">Menu</a></span>
      <span> > </span>
      <span *ngFor="let category of recipe.categories">
        <span><a href="#">{{category.category}}</a></span>
      </span>
    </div>
  </div>

  <form [formGroup]="form"
        fxLayout="row"
        fxLayout.xs = "column"
        fxLayoutAlign="space-between start">

    <div class="data">
      <div class="infos-mobile" fxLayoutAlign="center" fxShow="false" fxShow.xs="true">
        <div class="container-info">
          <img [src]="imageUrl" alt="{{recipe.name}}" class="food-image">
          <p fxLayoutAlign="start center"><mat-icon> timer</mat-icon> <b>Prep time: </b> {{recipe.prep_time}} minutes</p>
          <p fxLayoutAlign="start center"><mat-icon> timer</mat-icon> <b>Cook time: </b> {{recipe.cook_time}} minutes</p>
          <p fxLayoutAlign="start center"><mat-icon> timer</mat-icon> <b>Total time: </b> {{recipe.prep_time + recipe.cook_time}} minutes</p>
          <p fxLayoutAlign="start center"><mat-icon> restaurant</mat-icon> <b>Servings: </b> {{recipe.number_servings}}</p>
        </div>
      </div>

      <div class="ingredients">
        <h2>Ingredients:</h2>
        <ul>
          <li *ngFor="let item of recipe.ingredients">
            <div class="ingredient-container" fxLayout="row wrap" fxLayoutAlign="center end" fxLayoutGap="0px">

              <div fxFlex="50%" fxFlex.xs="100%" >
                <div class="grid-item" fxLayout="row" fxFlexAlign="center">
                  <img [src]="ingredientsUrl+item.ingredient.image" class="ingredient-image" alt="gdf">
                  <span class="ingredient-name">{{item.ingredient.name}}</span>
                </div>
              </div>

              <div fxFlex="50%" fxFlex.xs="100%" fxShow="true" fxShow.xs="false">
                <div class="ingredient-amount"> {{item.amount}} {{item.unit}}  </div>
              </div>

              <div fxFlex="50%" fxFlex.xs="100%">
                <div class="ingredient-description"> {{item.description}} </div>
              </div>

              <div fxFlex="50%" fxFlex.xs="100%" fxShow="false" fxShow.xs="true">
                <div class="ingredient-amount"> {{item.amount}} {{item.unit}}  </div>
              </div>

              <div fxFlex="50%" fxFlex.xs="100%">
                <div class="ingredient-amount"> {{item.grams * item.amount}} grams </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="directions">
        <h2>Directions:</h2>
        <p class="note">Note: Directions are based on the original recipe of {{recipe.number_servings}} servings.</p>
        <ul>
          <li *ngFor="let item of recipe.directions">
            <div class="row-instruction" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
              <div class="order">{{ item.order }}</div>
              <span class="instruction"> {{ item.instruction }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="infos" fxShow="true" fxShow.xs="false">
      <div class="container-info">
        <img [src]="imageUrl" alt="{{recipe.name}}" class="food-image">
        <p fxLayoutAlign="start center"><mat-icon> timer</mat-icon> Prep time:  {{recipe.prep_time}} minutes</p>
        <p fxLayoutAlign="start center"><mat-icon> timer</mat-icon> Cook time:  {{recipe.cook_time}} minutes</p>
        <p fxLayoutAlign="start center"><mat-icon> timer</mat-icon> Total time:  {{recipe.prep_time + recipe.cook_time}} minutes</p>
        <p fxLayoutAlign="start center"><mat-icon> restaurant</mat-icon> Servings:
          <input type="number"
                 formControlName = 'number_servings'
                 [value]=recipe.number_servings>
        </p>
      </div>
    </div>
  </form>

</ng-container>
































<ng-container *ngIf="!isValid">
  <div fxLayout="column" fxLayoutAlign="space-around center" >
    <img src="assets/food-characters/chef-character.png" alt="chefs-image">

    <button mat-raised-button
            color="primary"
            (click)="goBack()"
            class="nav-button">Return to previous page</button>
  </div>
</ng-container>

