<ng-container *ngIf="isValid">

  <div class="title">
    <h1>{{recipe.name}}</h1>
    <div class="breadcrumb" fxLayout="row" fxLayoutAlign="end center">
      <p><a href="#">Menu</a></p>
      <p><a href="#">Main Dish</a></p>
      <p>{{recipe.name}}</p>
    </div>
  </div>

  <div fxLayout="row"
       fxLayout.xs = "column"
       fxLayoutAlign="space-between none">

    <div class="data">
      <div class="infos-mobile" fxLayoutAlign="center" fxShow="false" fxShow.xs="true">
        <div class="container-info">
          <img [src]="imageUrl" alt="{{recipe.name}}" class="food-image">
          <p fxLayoutAlign="start center"><mat-icon> bubble_chart</mat-icon> <b>Prep time: </b> {{recipe.prep_time}} minutes</p>
          <p fxLayoutAlign="start center"><mat-icon> bubble_chart</mat-icon> <b>Cook time: </b> {{recipe.cook_time}} minutes</p>
          <p fxLayoutAlign="start center"><mat-icon> bubble_chart</mat-icon> <b>Total time: </b> {{recipe.prep_time + recipe.cook_time}} minutes</p>
          <p fxLayoutAlign="start center"><mat-icon> bubble_chart</mat-icon> <b>Servings: </b> {{recipe.number_servings}}</p>
        </div>
      </div>

      <div class="ingredients">
        <h2>Ingredients:</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae ipsa libero magnam natus odit tempore totam ullam vero! Rerum?</p>
      </div>

      <div class="directions">
        <h2>Directions:</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi corporis dolore expedita iste necessitatibus quam sed sequi soluta tempore.</p>
      </div>
    </div>

    <div class="infos" fxShow="true" fxShow.xs="false">
      <div class="container-info">
        <img [src]="imageUrl" alt="{{recipe.name}}" class="food-image">
        <p fxLayoutAlign="start center"><mat-icon> bubble_chart</mat-icon> Prep time:  {{recipe.prep_time}} minutes</p>
        <p fxLayoutAlign="start center"><mat-icon> bubble_chart</mat-icon> Cook time:  {{recipe.cook_time}} minutes</p>
        <p fxLayoutAlign="start center"><mat-icon> bubble_chart</mat-icon> Total time:  {{recipe.prep_time + recipe.cook_time}} minutes</p>
        <p fxLayoutAlign="start center"><mat-icon> bubble_chart</mat-icon> Servings:  {{recipe.number_servings}}</p>
      </div>
    </div>

  </div>

</ng-container>
































<ng-container *ngIf="!isValid">
  <div fxLayout="column" fxLayoutAlign="space-around center" >
    <img src="assets/food-characters/chef-character.png" alt="chefs-image">

    <button mat-raised-button
            color="primary"
            (click)="goBack()"
            class="nav-button">Return to previous page</button>
  </div>
</ng-container>

