<div *ngIf="pageObs | async as myPage">

  <div class="filter-class">
    <div class="filter-title" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
      <mat-icon>cake</mat-icon>
      <h2>General recipes</h2>
    </div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Category</mat-label>
      <mat-select
        [(ngModel)]="selectedCategory"
        (selectionChange)="changeInSelect()">
        <mat-option *ngFor="let category of constCategories" [value]="category">{{category.display}}</mat-option>
      </mat-select>
    </mat-form-field>
    <hr class="underline">
  </div>

  <div class="recipes">
    <ul *ngFor="let item of myPage.recipes">
      <div class="recipe-container" fxLayout="row" fxLayoutGap="50" fxLayoutGap.xs="20">
        <img [src]=getRouteImage(item.image) [alt]=item.name (click)="goToRecipe(item.id)">
        <div class="recipe-info" fxLayout="column">

          <p class="recipe-name">
            <mat-icon *ngIf="!(checkIfInCart(item) | async)" (click)="onClickAddToCart(item)" style="color:green">add_shopping_cart</mat-icon>
            <mat-icon *ngIf="(checkIfInCart(item) | async)" (click)="onClickRemoveFromCart(item)" style="color:red">remove_shopping_cart</mat-icon>
            {{item.name}}</p>

          <p fxLayoutAlign="start center" *ngIf="item.prep_time !== undefined">
            <mat-icon> timer</mat-icon>
            Prep time: {{item.prep_time}} minutes
          </p>

          <p fxLayoutAlign="start center" *ngIf="item.cook_time !== undefined">
            <mat-icon> timer</mat-icon>
            Cook time: {{item.cook_time}} minutes
          </p>
        </div>
      </div>
    </ul>
  </div>

  <mat-paginator [length]="maxPages"
                 [pageSize]="1"
                 [hidePageSize]="true"
                 [pageIndex]="page"
                 [showFirstLastButtons]="true"
                 (page)="changePageNavigation($event)"
                 aria-label="Select page">
  </mat-paginator>

</div>
