<div fxLayout="column" fxLayoutAlign="space-between center" >
  <div class="container" fxLayout="column" fxLayoutAlign="space-between center" >

    <div class="text">Continue your registration</div>

    <hr class="underline">

    <div class="form">
      <form [formGroup]="form"
            autocomplete="off"
            class="formular"
            fxLayout="column"
            fxLayoutAlign="space-around center"
            fxLayoutGap="10">

        <mat-form-field appearance="fill" [style.width.%]="60" color="accent">
          <mat-label>Enter your name</mat-label>
          <input matInput
                 placeholder="Your name"
                 formControlName="fullName" required>
          <mat-error *ngIf="this.form.controls['fullName'].invalid">Ful name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width.%]="60" color="accent">
          <mat-label>Enter your email</mat-label>
          <input matInput
                 placeholder="ex@example.com"
                 formControlName="email" required>
          <mat-error *ngIf="this.form.controls['email'].invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width.%]="60" color="accent">
          <mat-label>Enter your password</mat-label>
          <input matInput
                 [type]="hide ? 'password' : 'text'"
                 formControlName="password" required>
          <button mat-icon-button matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.form.controls['password'].invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width.%]="60" color="accent">
          <mat-label>Confirm your password</mat-label>
          <input matInput
                 [type]="hide ? 'password' : 'text'"
                 formControlName="confirmPassword" required>
          <button mat-icon-button matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.form.errors?.hasOwnProperty('matchPasswords')">{{getErrorMessageRePassword()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary"
                class="nav-button"
                [disabled]="!form.valid"
                type="submit"
                (click)="onSubmit()"
                [style.width.%]="60">Log In</button>

      </form>
    </div>

  </div>
</div>
