<div class="register-container" fxLayout="column" fxLayoutAlign="center center">
  <p class="register-title">Register your account</p>

  <mat-stepper
    class="register-stepper"
    [linear]="true"
    [orientation]="(stepperOrientation | async)!">

    <mat-step [stepControl]="firstFormGroup" label="Fill out your name">
      <form [formGroup]="firstFormGroup" fxLayout="column" fxLayoutAlign="space-between start">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" required>
          <mat-error *ngIf="this.firstFormGroup.controls.firstName.invalid">
            {{getErrorMsgRequired(this.firstFormGroup.controls.firstName)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" required>
          <mat-error *ngIf="this.firstFormGroup.controls.lastName.invalid">
            {{getErrorMsgRequired(this.firstFormGroup.controls.lastName)}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="accent">
          <mat-label>Account type</mat-label>
          <mat-select formControlName="accountType" required>
            <mat-option [value]="true">Business</mat-option>
            <mat-option [value]="false">Personal</mat-option>
          </mat-select>
          <mat-error *ngIf="this.firstFormGroup.controls.accountType.invalid">
            {{getErrorMsgRequired(this.firstFormGroup.controls.accountType)}}
          </mat-error>
        </mat-form-field>

        <input type="file" class="file-input"
               accept="image/*"
               (change)="onFileSelected($event)" #fileUpload required>
        <div class="file-upload">
          {{fileName || "No file uploaded yet."}}
          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>

        <div>
          <button mat-button (click)="onBackRegister()">Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Fill out your email">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="andrew@example.com" required>
          <mat-error *ngIf="this.secondFormGroup.controls.email.invalid">
            {{getErrorMsgEmail(this.secondFormGroup.controls.email)}}
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Fill out your password">
      <form [formGroup]="thirdFormGroup" fxLayout="column" fxLayoutAlign="space-between start">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Password</mat-label>
          <input matInput
                 [type]="hidePassword ? 'password' : 'text'"
                 formControlName="password" required>
          <button mat-icon-button matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.thirdFormGroup.controls.password.invalid">
            {{getErrorMsgPwd(this.thirdFormGroup.controls.password)}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="accent">
          <mat-label>Confirm Your Password</mat-label>
          <input matInput
                 [type]="hideConfirmPassword ? 'password' : 'text'"
                 formControlName="confirmPassword" required>
          <button mat-icon-button matSuffix
                  (click)="hideConfirmPassword = !hideConfirmPassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.thirdFormGroup.invalid">
            {{'Passwords does not match'}}
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Confirm registering your account.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onConfirmClick()">Confirm?</button>
      </div>
    </mat-step>

  </mat-stepper>

  <hr class="underline">
  <p class="text">or</p>
  <button mat-raised-button color="primary"
          class="nav-button"
          (click)="onClickGoRegistration()">Go to login</button>
</div>
