@import "src/styles";

.register-container {
  border-radius: 20px;
  margin:  2% 15% 0 15%;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;

  .register-title{
    font-size: 2em;
  }

  .register-stepper {
    background-color: transparent;
    width: 90%;
    .file-input {
      display: none;
    }
    .file-upload{
      padding-left: 10px;
      margin-bottom: 10px;
    }
  }

  p{
    color: black;
    font-size: 2em;
    margin: 10px;
    text-align: center;
  }

  .underline{
    border: 2px solid $black;
    width: 75%;
  }
  .nav-button {
    min-height: 3em;
    min-width: 7em;
    border-radius: 30px;
    border: 2px solid $white;
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .register-container {
    p {
      font-size: 1em;
    }
  }

  .mat-step-header .mat-step-label .mat-step-text-label {
    font-size: 1em;
  }
}


@media only screen and (max-width: 600px) {
  .register-container{
    margin:  2% 8% 0 8%;
  }
}

@media only screen and (max-width: 480px) {
  .register-container{
    margin:  2% 0 0 0;
  }
}
