@import "src/styles";

.container{
  height: 100%;
}

.title{
  box-shadow: -1px -1px 71px 21px rgba(251,248,247,1);
  -webkit-box-shadow: -1px -1px 71px 21px rgba(251,248,247,1);
  -moz-box-shadow: -1px -1px 71px 21px rgba(251,248,247,1);

  background:  rgb(251,248,247,0.7);
  width: 30%;
  text-align: center;
  font-size: 3em;
}

.quick-start{
  background-color: rgba(232, 201, 162, 0.75);
  width: 100vw;
  height: 40%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  .text{
    margin-top: 0;
    margin-bottom: 0;
    color: $black;
    font-size: 1.7em;
  }

  .google{
    max-width: 250px;
  }
}

.form {
  padding-left: 200px;
  .nav-button {
    min-height: 3em;
    min-width: 7em;
    border-radius: 30px;
    border: 2px solid $white;
    font-size: 16px;
  }
}

@media screen and (max-width: 950px){
  .form {
    padding-left: 0;
  }
}

@media screen and (max-width: 700px)  {
  .title{
    width: 50%;
  }
  .quick-start{
    height: 50%;
  }
  .form{
    padding-left: 0;
  }
}
