<mat-stepper
  #stepper
  class="register-stepper"
  [linear]="true"
  [orientation]="(stepperOrientation | async)!">

  <mat-step  [stepControl]="firstFormGroup" label="Fill in recipe details">
    <form class="step-gap" [formGroup]="firstFormGroup" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="10">

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Recipe name</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="this.firstFormGroup.controls.title.invalid">
          {{getErrorMsgRequired(this.firstFormGroup.controls.title)}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Prep time (minutes)</mat-label>
        <input matInput type="number" formControlName="prepTime" required min=0>
        <mat-error *ngIf="this.firstFormGroup.controls.title.invalid">
          {{getErrorMsgRequired(this.firstFormGroup.controls.prepTime)}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Cook time (minutes)</mat-label>
        <input matInput type="number" formControlName="cookTime" required min=0>
        <mat-error *ngIf="this.firstFormGroup.controls.title.invalid">
          {{getErrorMsgRequired(this.firstFormGroup.controls.cookTime)}}
        </mat-error>
      </mat-form-field>

      <input type="file" class="file-input"
             accept="image/*"
             (change)="onFileSelected($event)" #fileUpload required>
      <div class="file-upload">
        {{recipeImageName || "No file uploaded yet."}}
        <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>

      <div>
        <button mat-button (click)="toSecondStepper()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Add needed ingredients">

    <div *ngFor="let index of ingredientsCount" class="step-gap">
    <form [formGroup]="secondFormGroup"
          fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutAlign="space-between start">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Ingredient</mat-label>
        <input matInput formControlName="{{'ingredient'+index}}" required>
        <mat-error *ngIf="this.getFormControl('ingredient', index).invalid">
          {{getErrorMsgRequired(getFormControl('ingredient', index))}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Description</mat-label>
        <input matInput formControlName="{{'description'+index}}" required>
        <mat-error *ngIf="this.getFormControl('description', index).invalid">
          {{getErrorMsgRequired(getFormControl('description', index))}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Units</mat-label>
        <input matInput type="number" formControlName="{{'units'+index}}" required min=0>
        <mat-error *ngIf="this.getFormControl('units', index).invalid">
          {{getErrorMsgRequired(getFormControl('units', index))}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Grams per unit</mat-label>
        <input matInput type="number" formControlName="{{'gramsPerUnit'+index}}" required min=0>
        <mat-error *ngIf="this.getFormControl('gramsPerUnit', index).invalid">
          {{getErrorMsgRequired(getFormControl('gramsPerUnit', index))}}
        </mat-error>
      </mat-form-field>
    </form>
    </div>

    <button mat-raised-button color="primary" class="nav-button" (click)="addIngredient()">Add ingredient</button>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Add recipe's instructions">

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Confirmation">
    <p>Confirm registering your account.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onConfirmClick()">Confirm?</button>
    </div>
  </mat-step>

</mat-stepper>
