<h1 mat-dialog-title><b>Estimated prices for ingredients:</b></h1>

<div mat-dialog-content>
  <div *ngFor="let ingredient of ingredients" class="ingredient" fxLayout="row" fxLayoutAlign="space-between center">
    <b>{{ingredient.name}}:</b>
    {{ingredient.amount}} * ${{ingredient.price_per_unit}} = ${{ingredient.amount * ingredient.price_per_unit | number : '1.2-2'}}
  </div>

  <div class="final-prices">
    <p><b>Total:</b> ${{totalPrice}}</p>
    <p><b>Total with profit:</b> ${{extra}} (With {{addOns}}%)</p>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close="">Close</button>
</div>
