<div class="filter-class">
  <div class="filter-title" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
    <mat-icon>shopping_basket</mat-icon>
    <h2>Current cart</h2>
  </div>
  <hr class="underline">

  <div *ngIf="!isEmpty">
    <mat-form-field appearance="fill" color="accent" class="extra-input">
      <mat-label>Tax</mat-label>
      <span matSuffix>%</span>
      <input matInput type="number" [(ngModel)]="addOns" required min=5 max=500>
    </mat-form-field>
  </div>

  <div *ngIf="isEmpty" class="no-recipes" fxLayout="column" fxLayoutAlign="center center">
    <h3>Unfortunately you have no recipes in your cart.</h3>
    <h3>Click the button bellow to search some recipes:</h3>
    <button mat-raised-button color="primary"
            class="nav-button"
            (click)="onClickGoToRecipes()">Search recipes</button>
  </div>

</div>

<div *ngIf="recipesObs | async as recipes">
  <div *ngFor="let category of getKeys()">
  <div *ngIf="currentForm[category].length != 0" class="category">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
      <img [src]="getIcon(category)"  alt="" class="category-icon">
      <h2>{{category}}</h2>
    </div>
    <hr class="underline">

    <ul *ngFor="let item of currentForm[category]">
      <div class="recipe-container"
           fxLayout="row" fxLayout.xs="column"
           fxLayoutAlign="none center"
           fxLayoutGap="50" fxLayoutGap.xs="0">
        <img [src]=getRouteImage(item.image) [alt]=item.name (click)="goToRecipe(item.id)">
        <div class="recipe-info" fxLayout="column">

          <p class="recipe-name">
            <mat-icon (click)="onClickRemoveFromCart(item, category)" style="color:red">remove_shopping_cart</mat-icon>
            {{item.name}}
          </p>

          <mat-form-field appearance="outline" color="accent">
            <mat-label>Change category</mat-label>
            <mat-select (selectionChange)="changeInSelect(category, item, $event)">
              <mat-option *ngFor="let newCategory of item.categories" [value]="newCategory">
                {{newCategory}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <p class="show-price" title="Show prices" (click)="onClickShowPrices(item)">Price without tax: ${{computePriceRecipe(item) | number: '1.2-2'}} / Price with tax: ${{computePriceRecipe(item) * (1 + addOns/100) | number: '1.2-2'}}</p>

        </div>
      </div>
    </ul>
  </div>
  </div>

  <div class="filter-class">
    <hr class="underline">
    <div class="filter-title" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
      <mat-icon>check_circle</mat-icon>
      <h2>Complete menu</h2>
    </div>
    <p>Click the button bellow to add recipes special for you or complete the submission of the menu.</p>

    <button mat-raised-button color="primary"
            class="nav-button"
            (click)="onClickRequestRecipes()">Get recipes</button>

    <button mat-raised-button color="primary"
            class="nav-button">Complete</button>
  </div>
</div>


