.custom-container{
  padding: 30px;
  background-color: white;
  border-radius: 0 0 15px 15px;

  .new-ingredient{
    margin-top: 30px;
  }
}
input
{
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1em;
}

