<div class="top-bg"
     fxLayout="row"
     fxLayoutAlign="space-between center">

  <div fxLayout="row"
       class="logo">

    <button mat-icon-button *ngIf="authService.isLoggedIn | async" (click)="toggle()" fxFlexAlign="center" class="menu-small-width">
      <mat-icon title="Menu" class="nav-icons">menu</mat-icon>
    </button>
    <img src="./assets/food-characters/chefhat.svg" alt="hat" class="image" fxFlexAlign="center" (click)="onClickGoHome()">
    <div><p>ChefsCorner</p></div>
  </div>

  <div class="navigation"
       fxLayout="row"
       fxLayoutGap="2vw"
       fxLayoutAlign="space-between center">

    <form *ngIf="authService.isLoggedIn | async" fxShow="true" fxShow.xs="false" fxLayoutAlign="center">
      <mat-form-field class="search-bar" appearance="fill" color="accent">
        <mat-label >Search recipes by name</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          [formControl]="stateCtrl"
          (keydown)="filterOnEnter($event)"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option
            *ngFor="let recipe of filteredRecipes | async" [value]="recipe.id">
            <img alt="" class="example-option-img" [src]=getImageUrl(recipe.image) height="25" />
            <span>{{recipe.name}}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix class="black-icon" color="accent">search</mat-icon>
      </mat-form-field>
    </form>

  </div>
</div>

<form *ngIf="authService.isLoggedIn | async" class="search-mobile" fxShow="false" fxShow.xs="true" fxLayoutAlign="center">
  <mat-form-field class="search-bar" appearance="fill" color="accent">
    <mat-label >Search recipes by name</mat-label>
    <input
      matInput
      [matAutocomplete]="auto"
      [formControl]="stateCtrl"
      (keydown)="filterOnEnter($event)"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option
        *ngFor="let recipe of filteredRecipes | async" [value]="recipe.id">
        <img alt="" class="example-option-img" [src]=getImageUrl(recipe.image) height="25" />
        <span>{{recipe.name}}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix class="black-icon" color="accent">search</mat-icon>
  </mat-form-field>
</form>
