<div class="top-bg"
     fxLayout="row"
     fxLayoutAlign="space-between center">

  <div fxLayout="row"
       class="logo">

    <button mat-icon-button *ngIf="authService.isLoggedIn | async" [matMenuTriggerFor]="menu" fxFlexAlign="center" class="menu-small-width">
      <mat-icon title="Menu" class="nav-icons">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickGoHome()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-menu-item (click)="onClickGoToRecipes()">
        <mat-icon>list_alt</mat-icon>
        <span>All recipes</span>
      </button>

      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>Favourite</span>
      </button>

      <button mat-menu-item (click)="onClickGoToMyRecipe()">
        <mat-icon>restaurant_menu</mat-icon>
        <span>My recipes</span>
      </button>

      <button mat-menu-item (click)="onClickGoToCreateRecipe()">
        <mat-icon>create</mat-icon>
        <span>Create recipe</span>
      </button>
    </mat-menu>

    <img src="./assets/food-characters/chefhat.svg" alt="hat" class="image" fxFlexAlign="center" (click)="onClickGoHome()">
    <div><p>ChefsCorner</p></div>
  </div>


  <div class="navigation"
       fxLayout="row"
       fxLayoutGap="2vw"
       fxLayoutAlign="space-between center">

    <ng-container *ngIf="authService.isLoggedIn | async">
      <mat-icon title="Home" class="nav-icons" (click)="onClickGoHome()">home</mat-icon>
      <mat-icon title="All recipes" class="nav-icons" (click)="onClickGoToRecipes()">list_alt</mat-icon>
      <mat-icon title="Favourite" class="nav-icons">favorite</mat-icon>
      <mat-icon title="My recipes" class="nav-icons" (click)="onClickGoToMyRecipe()">restaurant_menu</mat-icon>
      <mat-icon title="Create recipe" class="nav-icons" (click)="onClickGoToCreateRecipe()">create</mat-icon>
    </ng-container>

    <form *ngIf="authService.isLoggedIn | async" fxShow="true" fxShow.xs="false" fxLayoutAlign="center">
      <mat-form-field class="search-bar" appearance="fill" color="accent">
        <mat-label >Search recipes by name</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          [formControl]="stateCtrl"
          (keydown)="filterOnEnter($event)"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option
            *ngFor="let recipe of filteredRecipes | async" [value]="recipe.id">
            <img alt="" class="example-option-img" [src]=getImageUrl(recipe.image) height="25" />
            <span>{{recipe.name}}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix class="black-icon" color="accent">search</mat-icon>
      </mat-form-field>
    </form>

    <ng-container *ngIf="authService.isLoggedIn | async">
      <button mat-icon-button [matMenuTriggerFor]="account">
        <img [src]="imageUrl" alt="" class="profile-img" >
      </button>
      <mat-menu #account="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span *ngIf="userDataObs | async as userData">{{userData.name}}</span>
        </button>

        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Account settings</span>
        </button>

        <button mat-menu-item (click)="onClickLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>

    <button *ngIf="!(authService.isLoggedIn | async)" mat-raised-button color="primary" class="nav-button" (click)="onClickLogin()">Authenticate</button>
  </div>
</div>

<form *ngIf="authService.isLoggedIn | async" class="search-mobile" fxShow="false" fxShow.xs="true" fxLayoutAlign="center">
  <mat-form-field class="search-bar" appearance="fill" color="accent">
    <mat-label >Search recipes by name</mat-label>
    <input
      matInput
      [matAutocomplete]="auto"
      [formControl]="stateCtrl"
      (keydown)="filterOnEnter($event)"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option
        *ngFor="let recipe of filteredRecipes | async" [value]="recipe.id">
        <img alt="" class="example-option-img" [src]=getImageUrl(recipe.image) height="25" />
        <span>{{recipe.name}}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix class="black-icon" color="accent">search</mat-icon>
  </mat-form-field>
</form>
