<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer mode="push">
    <app-drawer></app-drawer>
  </mat-drawer>
  <div>
    <div class="pg">

      <app-top-bar (sidenav)="drawer.toggle()"></app-top-bar>

      <div class="welcoming" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap.xs="30">

        <div fxLayout="column" fxLayoutAlign="center center" fxFlexOffset="5" fxFlexOffset.xs="0">
          <p>One step away from</p>
          <p>Delicious</p>
          <p>and</p>
          <p>Easy Recipes</p>
        </div>

        <img src="./assets/food-characters/pepper-and-donut.svg" alt="character2" class="images">

      </div>
    </div>
  </div>
</mat-drawer-container>
