@import "src/styles";

.pg{
  background: $brick;
  border-radius: 15px;

  .welcoming{
    p{
      text-align: center;
      color: $white;
      margin: 0 0 0 0;
      font-size: 3em;
    }

    .images {
      padding: 0 100px 15px 0;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .pg {
    .welcoming {
      .images {
        padding: 0;
      }
    }
  }
}
