.bg{
  position:fixed;
  min-width: 100%;
  background-image: url("../../../../../assets/backgrounds/backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
