.test{
  border: solid black 3px;
  background-color: red;
  border-radius: 50px;
}

.bg{
  position:fixed;
  min-width: 100%;
  background-image: url("~src/assets/backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
