<div *ngIf="myRecipesObs | async as myRecipes">

  <div class="filter-class">
    <div class="filter-title" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
      <mat-icon>cake</mat-icon>
      <h2>Personal recipes</h2>
    </div>
    <hr class="underline">

    <div *ngIf="myRecipes.length === 0" class="no-recipes" fxLayout="column" fxLayoutAlign="center center">
      <h3>Unfortunately you have no recipes.</h3>
      <h3>Click the button bellow to add your own recipes:</h3>
      <button mat-raised-button color="primary"
              class="nav-button"
              (click)="onClickGoToGenerate()">Create recipe</button>
    </div>

  </div>

  <div class="recipes">
    <ul *ngFor="let item of myRecipes">

      <div class="recipe-container" fxLayout="row" fxLayoutGap="50" fxLayoutGap.xs="20" (click)="goToRecipe(item.id)">

        <img [src]=getRouteImage(item.file) [alt]=item.name>

        <div class="recipe-info" fxLayout="column">
          <p class="recipe-name">{{item.name}}</p>

          <p fxLayoutAlign="start center" *ngIf="item.prep_time !== undefined">
            <mat-icon> timer</mat-icon>
            Prep time: {{item.prep_time}} minutes
          </p>

          <p fxLayoutAlign="start center" *ngIf="item.cook_time !== undefined">
            <mat-icon> timer</mat-icon>
            Cook time: {{item.cook_time}} minutes
          </p>
        </div>

      </div>

    </ul>
  </div>
</div>
