@use '@angular/material' as mat;
@include mat.core();
@import '/src/my-theme';
@import 'ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
$white : #FBF8F7;
$crem : #E8C9A2;
$brick : #CA512E;
$black : #0E0805;
$light-crem : #C6B0A0;
$dark-crem : #CC9662;
$dark-green : #5f824e;
$purple-blue : #4C4ADE;


html, body, app-container{
  height: 100%;
  margin: 0;
}

.toast-top-full-width{
  margin-top: 100px !important;
}


.mat-typography{
  min-width: 100%;
  background-image: url("./assets/backgrounds/backgr.jpg");
  background-repeat: repeat;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
