<div *ngIf="menuObs | async as menu">

  <div class="title">
    <div class="title-name" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
      <mat-icon>library_books</mat-icon>
      <h2>{{menu.name}}</h2>
    </div>
    <span matSuffix style="color: green">%</span>
    <input matInput type="number" class="addOn" [(ngModel)]="addOns" required min=5 max=500>

    <mat-form-field appearance="outline" color="accent" >
      <mat-label>Currency</mat-label>
      <mat-select
        [(ngModel)]="currency">
        <mat-option *ngFor="let curency of currencies" [value]="curency">
          {{curency.currency}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <hr class="underline">
    <p class="description">{{menu.description}}</p>
  </div>

  <div *ngFor="let category of getCategories(menu)">
    <div class="category">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
        <img [src]="getIcon(category)"  alt="" class="category-icon">
        <h2>{{category}}</h2>
      </div>
      <hr class="underline">

      <ul *ngFor="let item of menu.recipes[category]">
        <div class="recipe-container"
             fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="none center"
             fxLayoutGap="50" fxLayoutGap.xs="0">

          <img [src]=getRouteImage(item) [alt]=item.name (click)="goToRecipe(item.id)">

          <div class="recipe-info" fxLayout="column">
            <p class="recipe-name">{{item.name}}</p>
            <p class="show-price" title="Show prices" (click)="onClickShowPrices(item)">Price for ingredients: {{computePriceRecipe(item) * currency.rate| number: '1.2-2'}} {{currency.currency}}/ Recommended price to sell: {{computePriceRecipe(item) * (1 + addOns/100) * currency.rate| number: '1.2-2'}} {{currency.currency}}</p>
          </div>
        </div>
      </ul>

    </div>
  </div>

  <div class="footer">
    <button mat-raised-button color="primary"
            class="nav-button"
            (click)="onClickRequestRecipes()">Add more recipes</button>
    <button mat-raised-button color="primary"
            class="nav-button"
            (click)="onClickSaveMenu(menu.name)">Generate PDF</button>
  </div>


  <div fxShow="false">
    <div #container style="width: 410px">
      <div style="width: 100%;text-align: center;margin-bottom: 50px">
        <h2>{{menu.name}}</h2>
        <p>{{menu.description}}</p>
      </div>
      <div *ngFor="let category of getCategories(menu)" style="margin-bottom: 40px; font-size: 0.8em">
        {{category}}
        <hr style="width: 100%">
        <div *ngFor="let item of menu.recipes[category]" style="margin-bottom: 20px">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <p>{{item.name}}</p>
            <p>{{computePriceRecipe(item) * (1 + addOns/100) * currency.rate| number: '1.2-2'}} {{currency.currency}}</p>
          </div>
          <span *ngFor="let ingredient of item.ingredients; let isLast=last" style="color: gray; font-size: 0.6em">
            {{ingredient.name}}{{isLast ? '' : ', '}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
