<div class="top-bg"
     fxLayout="row"
     fxLayoutAlign="space-between start"
>

  <div fxLayout="row"
       class="logo"
       fxLayoutGap="1vw"
  >
    <img src="assets/donnut.svg" alt="Donut" class="donut" fxFlexAlign="center">
    <p>ChefsCorner</p>
  </div>

  <div class="navigation"
       fxLayout="row"
       fxFlexAlign="center"
       fxLayoutAlign="space-between start"
       fxLayoutGap="3vw"
  >
    <button mat-raised-button color="primary" class="nav-button">Register</button>
    <button mat-raised-button color="primary" class="nav-button">Log In</button>
  </div>
</div>
